[Unit]
Description=Automatic default route metric setter
After=network.target
Wants=network.target

[Service]
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/bin/autometric
Restart=on-failure

[Install]
WantedBy=multi-user.target
