[Unit]
Description=mfs_launch_master
Requires=docker.service
After=docker.service

[Service]
Environment="PYTHONUNBUFFERED=1"
ExecStart=/usr/bin/mfs_launch_master
Restart=on-failure

[Install]
WantedBy=multi-user.target
